.parallel svg {
  font: 10px sans-serif;
}

.parallel .background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.parallel .foreground path {
  fill: none;
  stroke: steelblue;
}

.parallel .brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.parallel .axis line,
.parallel .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.parallel .axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
