.dc-chart .axis text {
  font: 10px sans-serif;
  fill: #fff;
}

.dc-chart .grid-line {
  fill: none;
  stroke: #fff;
  opacity: .5;
  shape-rendering: crispEdges;
}

.dc-chart .grid-line line {
  fill: none;
  stroke: #fff;
  opacity: .5;
  shape-rendering: crispEdges;
}

.dc-legend {
  font-size: 11px;
  font-color: #fff;
}

.dc-legend-item {
  cursor: pointer;
}


.dc-chart .axis line {
  fill: #fff;
  stroke: #fff;
  shape-rendering: crispEdges;
}
